.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /*
  background: repeat url("../images/circles-light.png");
  background-color: darkred;
  background-blend-mode: color-burn; */
  background: repeat url("../images/circles-light.png");
  /* cursor: zoom-in; */
}

@media screen and (max-width: 700px) {
  #debugTools {
    display: none !important;
  }
}
