.boardWrapper {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}

.card {
    padding: 15px;
    background-color: floralwhite;
    opacity: .8;
}

.card:hover {
    transform: scale(1.05);
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.gray {
    color: rosybrown;
}

.black {
    color: black;
}

