.boardWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-gap: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 700px) {
    .boardWrapper {
        grid-template-columns: repeat(2, 1fr);
        margin-top: .5rem;
        grid-gap: .3rem;
    }
    .boardWrapper .card {
        padding: .5rem;
    }
}

.card {
    padding: 1rem;
    background-color: floralwhite;
    opacity: .8;
}

.card:hover {
    transform: scale(1.05);
}
